@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: latom sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    

}

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    font-size: 100%;

}

h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    text-align: left;
    display: block;
    letter-spacing: 4px;
    color: #252525;
}

h3 {    display: block;
        width: 80%;
        margin: 0 auto;
        padding: inherit;

}

#logo {
    float: left;
    font-size: 100px;
    margin-left: 30px;
}

    #main {
            font-size: 110%;
            letter-spacing: 4px;
    }

    #main li {
            float: right;
            list-style: none;
            margin: 30px;
    }


    #main a:hover {
            border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

    img {
        background-size: contains;
        width: 300px;
        height: 300px;
        border: solid 2px #3a3a3a;
      }


      .social-networks {
        text-align: center;

}

.social-networks > li {
        display: inline;
}

.social-networks i {
        font-size: 160%;
        margin: 1%;
        padding: 4%;
        color: #3a3a3a;
}

#photos { clear: both;
    line height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }



hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .container {
    padding: 16px;
  }

  .buttons {
    content: "";
    clear: both;
    display: table;
  }

  button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }