@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

:root {
  --clr-primary-200: #F3EED9;
  --clr-primary-400: #0e387a;

  --clr-neutral-100: #fff;
  --clr-neutral-900: #0e60ec;

  --ff-primary: 'lato', sans-serif;
  --ff-accent: 'oswald', sans-serif;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  padding: 10px;
  background: #fff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 1em;
  padding: 10px;
}

img {
  display: block;
  max-width: 100%;
}

.container-3 {
  color: rgb(8, 8, 8);
  font-size: 5rem;
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}

.text-center {
  text-align: center;
}

header,
section {
  padding: 4rem 0;}

 
  @media (min-width: 40em) {

        header,
    section {
      padding: 7rem 0;
    }
  }

.address{
  border: 1px solid black;
  text-align: center;
}

.image-2 {
  background-image: url('../images/background\ pic.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

.About-us-page-2 {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.divided-page {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.gallery-slides > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-slides > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.gallery-slides {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.google-maps > iframe {
  width: 100%;
  height: auto;
}

.social-networks {
  text-align: center;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 4%;
  color: #3a3a3a;
}

@media (min-width: 40em) {
  .divided-page {
    flex-direction: row;
  }

  .divided-page > * {
    flex-basis: 100%;
  }

  .divided-page > * + * {
    margin-left: 2em;
  }
}

.About-us-page-3 {
  max-width: 34rem;
}

.About-us-page-1 {
  background-color: var(--clr-primary-200);
}

.About-us-page-5 {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

.About-us-page-4 {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.About-us-page-5 h2,
.About-us-page-4 h2 {
  color: var(--clr-primary-200);
}


input[type=text], select-contact-us-page, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit]-contact-us-page {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container-contact-us-page {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column-contact-us-page {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row-contact-us-page:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column-online-contact-us-page, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.navbar-all-pages {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary-400);
  color: white;
}

.brand-name-all-pages {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links-all-pages {
  height: 100%;
}

.navbar-links-all-pages ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links-all-pages li {
  list-style: none;
}

.navbar-links-all-pages li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links-all-pages li:hover {
  background-color: var(--clr-neutral-900);
}

.toggle-button-all-pages {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button-all-pages .bar-all-pages {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar-all-pages {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button-all-pages {
      display: flex;
  }

  .navbar-links-all-pages {
      display: none;
      width: 100%;
  }

  .navbar-links-all-pages ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links-all-pages ul li {
      text-align: center;
  }

  .navbar-links-all-pages ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links-all-pages.active {
      display: flex;
  }
}

